
.period_search{
    background-color: #fafafa;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    justify-content: center;
    padding: 14px;
}
.month_list{
    margin: 0;
    display: flex;
    list-style: none;
}
.mon_btn{
    display: flex;
}
.month_link{
    background-color: #fff;
    border: 1px solid #ebebeb;
    display: flex;
    font-size: 13px;
    height: 32px;
    justify-content: center;
    line-height: 30px;
    min-width: 62px;
    padding: 0 12px;
    white-space: nowrap;
    margin-left: 4px;
}
.list_tab_detail_tab{
    border-radius: 0;
    margin-top: 20px;
}
.period_calendar_wrapper{
display: flex;
}
.perion_calendar{
    display: flex;
    position: relative;
}
.period_month{
    margin-right: 20px;
}
.css-z3c6am-MuiFormControl-root-MuiTextField-root{
    border-color: red !important;
}

.MuiInputBase-root{
    color: red;
}
.MuiOutlinedInput-notchedOutline{

}
.MuiInputLabel-root{

}
.Mui-focused .MuiOutlinedInput-notchedOutline{}
.Mui-focused .MuiInputLabel-root{}


.d{
    margin: 0 4px;
    display: inline-block;
    line-height: 52px;
}
.period_btn{
    margin-left: 4px;
}
.btn_search{
    background-color: black;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    width: 80px;
    color: white;
    font-size: 13px;
    line-height: 30px;
}

.month_list{
    display: flex;
}
.search_info{
    padding: 12px 0;
}