/* profile-edit.css */

.img_profile{
    width: 90px;
    height: 90px;
    margin-right: 12px;
}
.col-sm-3{
    /* margin-right: 20px; */
    width: 180px;
}

.profile-title{
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}
.title{
    font-size: 24px;
    line-height: 29px;
    display: block;
    font-weight: bold;
    margin-block-start: 1em;
}

.user_profile{
    align-items: center;
    display: flex;
    padding: 38px 0;
    border-bottom: 1px solid #ebebeb;
}

.profile_thumb{
    display: flex;
}

.profileIm{
    flex: none;
    overflow: hidden;
    height: 90px;
    width: 90px;
    margin-right: 12px;
}

.imgChangeBtn{
    margin-top: 12px;
}

.imgCh{
    border: 1px solid #d3d3d3;
    color: rgba(34, 34, 34, .8);
    font-size: 12px;
    height: 34px;
    width: 100px;
    padding: 0 14px;
    text-align: center;
    margin-right: 8px;
}
.del{
    border: 1px solid #d3d3d3;
    color: rgba(34, 34, 34, .8);
    font-size: 12px;
    height: 34px;
    width: 70px;
    padding: 0 14px;
    text-align: center;
}

.profile_group{
    max-width: 480px;
    padding: 38px 0;
}

.group{ 
    padding: 25px 0 12px;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-direction: column; /*위아래로 정렬*/
    position: relative;
}

.titleProf{
    font-size: 18px;
    font-weight: bold;
}

.unit{
    display: flex;
    flex-direction: column;
    padding: 25px 0 12px;
    position: relative;
    border-bottom: 1px solid #ededed;
}

.profile_title{
    color: rgba(34, 34, 34, .5);
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}

.letterThickly{
    color:black;
    font-weight: bold;
    font-size: 13px;
    margin: 0;
}

.modify_id{
    display: flex;
    flex-grow: 1;
    font-size: 16px;
    padding-top: 8px;
    margin: 0;
}

.unit_content{
    align-items: center;
    display: flex;
    width: 100%;
    height: 35px;

}

.modify_myslef{
    display: flex;
    flex-grow: 1;
    font-size: 16px;
    margin: 0;
    color: rgba(34, 34, 34, .5);
    padding: 8px 58px 8px 0;
}

.modify_textarea{
    display: block;
    width: 100%;
    font-size: 15px;
    padding: 7px 0;
    border: none;
    border-bottom: 1px solid #ebebeb;
}
.modify_textarea:focus{
    border-bottom: 2px solid black;
    outline: none;
}

.modify_btn_box{
    display: flex;
    justify-content: center;
    font-size: 0;
    padding-top: 28px;
}

.unit_all{
    border: 1px solid #d3d3d3;
    color: rgba(34, 34, 34, .8);
    font-size: 12px;
    height: 34px;
    width: 70px;
    right: 0;
}

/* 모달창 */
.input_text{
    color: rgba(34, 34, 34, .5);
    font-size: 11px;
    line-height: 16px;
    position: absolute;
}

.modify_btn_box{
    padding-top: 28px;
    text-align: center;
    align-items: center;
}

.btn_cancell{
    padding: 0 38px;
    border: 1px solid #d3d3d3;
    color: rgba(34, 34, 34, .8);
    border-radius: 12px;
    font-size: 14px;
    height: 42px;
}

.btn_save{
    margin-left: 8px;
    background-color: #222;
    font-weight: 700;
    padding: 0 38px;
    border: 1px solid #d3d3d3;
    color: #fff;
    border-radius: 12px;
    font-size: 14px;
    height: 42px;
}
.changeTitle{
    font-size: 13px;
    margin: 0;
    font-weight: 700;
}
.inputPrfileN{
    border: none;
    width: 100%;
}
.inputPrfileN:focus{
    outline: none;
}