.header_contianer{
    width: 1280px;
    margin: auto;
    height: 100px;
}
.top_inner{
    margin-top: 10px;
}
.main_inner{
    display: flex;
    margin-top: 20px;
}
.italic {
    font-family: "Rowdies", sans-serif;
    font-style: italic; /* 글자를 이탤릭체로 만듭니다 */
    font-size: 40px;
}