.container{
    box-shadow: 0 1px rgb(192, 188, 188); 
  
  }
  
  nav {
    background-color: white;

    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    border-radius: 4px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }
  
  nav ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px; 
  }
  
  nav ul li a.active {
    font-weight: bold;
    text-decoration-thickness: 2px; 
  }
  .nav-item1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
  }
  
  .nav-item1 li {
    margin-left: 10px;
    font-size: 8px;
  }
  
  .nav-item1 li:first-child {
    margin-left: 0; 
  }
  
  .kream {
    font-size: 2em;
    font-weight: bold;
    margin: 20px;
    color: black;
    text-align: left; 
    margin-left: 20px; 
    cursor: pointer;
  }