@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

.header_contianer{
    width: 1280px;
    margin: auto;
    height: 100px;
}
.top_inner{
    margin-top: 10px;
}
.main_inner{
    display: flex;
    margin-top: 20px;
}
.shop_inner{
    border: none; /* 기본 테두리 제거 */
    border-top: 1px solid rgba(0, 0,0,0.3); /* 위쪽에 두께 2px의 검은색 실선 */
    margin: 20px 0; /* 위아래 여백 */
}
.shop{
    margin: auto;

}
.italic {
    font-family: "Rowdies", sans-serif;
    font-style: italic; /* 글자를 이탤릭체로 만듭니다 */
    font-size: 40px;
}