/* shortcut_grid */

.shortcut_grid{
    border: 1px solid #ebebeb;
    border-radius: 10px;
    margin-top: 20px;

}


.col{
    border-right: none !important;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    padding-top: 16px;
    row-gap: 8px;
}

.seller-grade{
    background-image: url('../../img/login-page/a_04fab09b01d54fddbe4566369a17cb93.png');
    background-size: cover;
    background-position: center;
    height: 28px;
    width: 28px;
}
.seller-p{
    background-image: url('../../img/login-page/a_c23b8b01de384013b4c317029d2a96dc.png');
    background-size: cover;
    background-position: center;
    height: 28px;
    width: 28px;
}
.seller-cupon{
    background-image: url('../../img/login-page/a_53a7d4519a3b4675a90ca9a05311bda9.png');
    background-size: cover;
    background-position: center;
    height: 28px;
    width: 28px;
}
.seller-phon{
    background-image: url('../../img/login-page/a_0f5e5c8adf02466486ce1f79cc224523.png');
    background-size: cover;
    background-position: center;
    height: 28px;
    width: 28px;
}
.seller-invite{
    background-image: url('../../img/login-page/a_11c460121ca54697a8267807c5a14971.png');
    background-size: cover;
    background-position: center;
    height: 28px;
    width: 28px;
}
.seller-announcement{
    background-image: url('../../img/login-page/a_cbb55424c3ad427c88d2b8327100e5fc.png');
    background-size: cover;
    background-position: center;
    height: 28px;
    width: 28px;
}
