.history_modal_container{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.history_modal_container .history_modal_content{
    z-index: 3;
    background-color: white;
    position: fixed;
    width: 480px;
    height: 550px;
    border-radius: 20px;
}