/* FindEmail.css */

*{
    margin: 0;
    padding: 0;
}

.content{
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}
.area{
    margin: 0 auto;
    padding: 60px 0 160px;
    width: 400px;
}
.help_title{
    border-bottom: 2px solid #000;
    color: #000;
    font-size: 32px;
    letter-spacing: -.48px;
    padding-bottom: 41px;
    text-align: center;
    font-weight: 700;
}
.help_title.success{
    font-size: 24px;
    font-weight: 700;
}
.emailSuccess_btn_box{
    display: flex;
    padding-top: 56px;
    gap: 10px;
}
.email_btn, .emailSuccess_login_btn {
    flex: 1; /* 버튼의 넓이를 동일하게 설정 */
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.emailSuccess_login_btn{
    border-radius: 12px;
    border: 1px solid #d3d3d3;
    height: 52px;
    line-height: 52px;
    /* padding: 0 25px; */
    background-color: #222;
    color: #fff;
}
.email_btn{
    border-radius: 12px;
    border: 1px solid #d3d3d3;
    height: 52px;
    padding: 0 25px;
    background-color: #fff;
}
.FindEmail_success>p{
    font-size: 18px;
    font-weight: 700;
    padding-top: 8px;
}
.FindEmail_success{
    padding-top: 30px;
    text-align: center;
}
.notice{
    padding: 40px 0 30px;
}
.input_item{
    margin: 0;
    padding: 0;
}
.input_tel{
    font-size: 15px;
    letter-spacing: -.15px;
    line-height: 22px;
    padding: 8px 0;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ebebeb ;
}
.input_tel:focus{
    border-bottom: 2px solid #222;
    outline: none;
}

.input_but{
    padding-top: 44px;
}

.solid{
    font-weight: 700;
}
.text{
    font-size: 14px;
    letter-spacing: -.21px;
}
.title{
    font-size: 13px;
    letter-spacing: -.07px;
    line-height: 18px;
}
.emailBut{
    color: #fff;
    font-weight: 700;
    border-radius: 12px;
    width: 100%;
    margin: 15px 0;
    background-color: #000;
    border: none ;
    padding: 10px 0 ;
    cursor:auto ;
    }
    
.findEmailBut{
    color: #fff;
    font-weight: 700;
    border-radius: 12px;
    width: 100%;
    margin: 15px 0;
    background-color: #ebebeb;
    border: none ;
    padding: 10px 0 ;
    cursor:auto ;
}

.findEmailBut_active {
    width: 100%;
    margin: 15px 0;
    background-color: black;
    border: none ;
    padding: 10px 0 ;
    cursor: pointer;
}



/* FindPw.css */
.title_phon{
    padding: 10px 0 14px;
    position: relative;
    font-size: 13px;
    letter-spacing: -.07px;
    line-height: 18px;
}
.title_email{
    margin-top: 44px;
    font-size: 13px;
    letter-spacing: -.07px;
    line-height: 18px;
}
.input_success_but{
    display: flex;
    justify-content: center;
}
.success_login_btn{
    text-align: center;
    border-radius: 12px;
    height: 52px;
    line-height: 52px;
    min-width: 200px;
    background-color: #222;
    color: #fff;
    font-weight: 700;

}