.content_payment{
    display: flex;
    align-items: center;
    padding: 5px 0 22px;
    border-bottom: 3px solid #222;
}
.titlePayment>h3{
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    margin: 0;
}
.titlePayment>p{
    font-size: 12px;
    color: rgba(34, 34, 34, .5);
    margin: 0;
}
.payment_eara{
    background-color: #fafafa;
    padding: 160px 0;
}
.paymentNull{
    color: rgba(34, 34, 34, .5);
    font-size: 13px;
    text-align: center;
}
.unitAll_card{
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #222;
    padding: 0 14px;
    font-size: 12px; /* 폰트 사이즈 설정 */
    height: 32px; /* 버튼의 높이 설정 */
    line-height: 32px; /* 버튼의 높이와 일치시켜 텍스트 수직 정렬 */
    display: flex; /* Flexbox를 사용하여 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
    line-height: 32px;

}
.layer_cardContainer{
    border-radius: 16px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, .1);
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    align-content: center;
}
.cardContainer{
    height: 64px;
    overflow-y: scroll;
    text-align: center;
    background-color: #fff;
    align-content: center;
}
.layer_cardContainer>span{
    font-size: 18px;
    font-weight: 600;
}
.container_card{
    padding: 20px;
    height: 412px;
}
.card_header{
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.cardType>span{
    font-size: 14px;
    padding-top: 10px ;
    padding-bottom: 20px;
}
.card-btn-container{
    margin-bottom: 28px;
}
.btn_cardGroup{
    display: flex;
    gap: 8px;
    margin-top: 4px;
}
.card-btn-style,
.card-btnStyle{
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    padding: 0 18px;
    width: 100%;
    height: 48px;
}

.card-btn-style.active,
.card-btnStyle.active{
    border: 1px solid #222 !important;
}



.btnMsg{
    color: rgba(34, 34, 34, .5);
    font-size: 13px;
    padding-bottom: 16px;
    padding-top: 8px;
}
.NextBtn_box{
    padding: 12px 20px 20px;
}
.Next_btn{
    background-color: #ebebeb;
    color: #fff;
    font-weight: 700;
    border-radius: 12px;
    font-size: 16px;
    height: 52px;
    width: 100%;
    border: 1px solid #ebebeb;
}

.Next_btn.active {
    background-color: black;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
}

/*  */

.cardNumInput{
    display: flex;
    padding: 15px 12px;
    height: 48px;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    min-width: 180px ;
    max-width: 250px;
}

.cardNumOpen{
    border-radius: 10px;
    display: flex;
}
.cardNumOpen>input{
    font-feature-settings: "tnum";
    display: flex;
    caret-color: #222;
    font-size: 14px;
    width: 34px;
    border: none;
}
.cardNumHide{
    width: 38px;
    display: flex;
}
.cardNumHide>input{
    font-feature-settings: "tnum";
    display: flex;
    caret-color: #222;
    font-size: 14px;
    width: 34px;
    border: none;
}
.cardNumOpen>input :focus{
    outline: none;
}

.cardInput {
    border: none; 
    outline: none; 
}
.cardInput:focus {
    border: none; 
    box-shadow: none; 
}

.divide{
    color: #909090;
    font-size: 14px;
    padding-left: 4px;
}
.form_feedback{
    color: red;
    font-size: 13px;
    padding-bottom: 16px;
    padding-top: 8px;
}
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    padding: 0;
    border-radius: 8px;
    text-align: center;
}

.number-buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열로 설정 */
    justify-items: center;
}

.number-button {
    color: #fff;
    font-weight: 700;
    background: black;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
    border: none;
    font-size: 30px;
    width: 100%; /* 버튼을 그리드 셀의 너비에 맞추기 */
}
.arrow-button{
    color: #fff;
    font-weight: 700;
    background: black;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
    border: none;
    font-size: 30px;
    width: 100%; /* 버튼을 그리드 셀의 너비에 맞추기 */
}
.arrow{
    color: #fff;
    background: black;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
    border: none;
    font-size: 30px;
    width: 100%; /* 버튼을 그리드 셀의 너비에 맞추기 */
}

.layer-background.card-input {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardContainer_arae.card-bady {
    overflow-y: auto; 
    padding: 20px;
    box-sizing: border-box;
}
.card-btn-container {
    max-height: 400px;
    overflow-y: auto; 
    padding-right: 10px; 
}

/* 숫자 버튼 */
.modalNum-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; /* 모달창을 가장 위에 표시 */
}

.modalNum-content {
    position: absolute;
    bottom: 320px; /* 원하는 위치 조정 */
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 8px;
    z-index: 1001; /* 카드번호 입력 필드보다 위에 표시 */
    width: 490px;
}


.number-button:last-of-type {
    border-bottom-left-radius: 12px; /* 아래 왼쪽 모서리 둥글기 */
    border-bottom-right-radius: 12px; /* 아래 오른쪽 모서리 둥글기 */
}

.expiration.period{
    width: 100%;
}
.expiration.period:focus {
    border: none; 
    box-shadow: none; 
    outline: none;
}

/*  */
.basicAccount{
    padding: 22px 0 29px;
    border-bottom: 2px solid #222;
}
.my_baxicAccount_box{
    align-items: center;
    display: flex;
    position: relative;
}
.accountInfo_bind{
    display: flex;
    margin-right: 24px;
    align-items: center;
}
.accountCard_info{
    padding: 13px 0 1px;
}
.card_name{
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    display: inline-block;
    min-width: 52px;
    padding: 9px;
    text-align: center;
    margin-right: 17px;
}
.CardNumber{
    /* font-size: 0; */
    flex-direction: column;
    margin-left: 17px;
    align-items: center;
}
.num_bind_card{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.dot{
    white-space: nowrap;
}
.hypahe_card{
    background-color: #000;
    display: inline-flex;
    height: 1px;
    margin-left: 4px;
    margin-right: 2px;
    width: 4px;
}
.card_lastNum{
    display: flex;
}
.lastCardNum{
    display: inline-flex;
    font-size: 14px;
    margin-left: 2px;
}
.myAccount_del{
    margin-top: 30px;
    margin-left: auto;
}
.mark_card{
    padding: 0 6px;
    background-color: #bbb;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 18px;
    vertical-align: top;
}   

.myAccountDel_btn{
    border: 1px solid #d3d3d3;
    font-size: 12px;
    height: 34px;
    color: rgba(34, 34, 34, .8);
    padding-left: 11px;
    padding-right: 12px;
    border-radius: 10px;
    padding: 0 14px;
    background-color: #fff;
}