body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: white;
}

  .detail_container{
    height: 1730px;
    width: 1200px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    display: flex;
  }
  .detail_cotainer2{
    width: 1200px;
    margin: 40px auto auto auto;
  }
  .detail_container3{
    width: 1200px;
    margin: 30px auto auto auto;
  }
  .detail_container4{
    width: 1200px;
    margin: 30px auto auto auto;
  }
   
  /* @media (max-width: 1200px) {
    .detail_container,
    .detail_container2,
    .detail_cotainer3 {
      width: 100%;
      margin: auto;
    }
} */

/* @media (max-width: 768px) {
    .detail_container {
        flex-direction: column;
        padding: 0 10px;
    }
} */

/* @media (max-width: 480px) {
    .detail_container,
    .detail_container2,
    .detail_cotainer3 {
        width: 100%;
        margin: 0 5px;
    }
} */

  /* @media (min-width: 801px) {
    .body1 {
      padding: 10px;
    }
    .content {
      font-size: 14px; 
    }
  }*/

  @media screen and (max-width: 800px) {
    .detail_container .detail_img{
      width: 600px;
      height: 600px;
    }
    .detail_info{
      display: none;
    }
  } 
