body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: white;
}
.detail_img_form{
    width: 560px;
}
.detail_img_container{
    width: 560px;
    height: 731px;
    position: -webkit-sticky; 
    position: sticky;
    top: 130px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
}
.detail_img_info{
    margin-top: 20px;
    text-align: left;
    display: grid;
    grid-template-columns: 62.85px 62.85px 62.85px 62.85px 62.85px 62.85px 62.85px;
    grid-template-rows: 62.85px 62.85px;
    gap: 20px;
}

.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
  width: 30px; /* 원하는 크기로 조정 */
  height: 30px; /* 원하는 크기로 조정 */
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  opacity: 1;
  filter: invert(1);
}