  body {
      margin: 0;
      font-family: 'Arial', sans-serif;
      background-color: white;
  }
  .detail_container{
    /* height: 1680px; */
    height: 1800px;
    width: 1200px;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    display: flex;
  }
  .detail_cotainer2{
    width: 1200px;
    margin: 40px auto auto auto;
  }
  .detail_container3{
    width: 1200px;
    margin: 30px auto auto auto;
  }
  .detail_container4{
    width: 1200px;
    margin: 30px auto auto auto;
  }

